.header{
    position: absolute;
    top:0;
    background-color: $header-background-color;
    display: flex;
    align-items: center;
    &__btn{
        color: $header-font-color;
        align-self: flex-start;
        margin-left: 20px
    }
    &__logo{
        width: 200px;
        height: 100px;
    }
}
.lolo:nth{
    list-style: none;
    justify-content: space-between;
    align-content: space-between;
    
    text-transform: uppercase;
    list-style: none;
    padding-left: 20px;
    border-left: 2px dotted;
        
    
    margin-right: 20px;
    
    color:#fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    
    
    
    font-size: 30px;
    letter-spacing: 10px;
    
    @include flex-centering;
    justify-content: space-around;
    
    padding: 5px 10px;
    border: 1px solid #FFF;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    
    border-right: 10%;
    
}

<svg class='header__line' viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <line x1="0" y1="50" x2="100" y2="50" style={{stroke:#ccac5b;stroke-width:200}} />
</svg>

//        